{% extends 'base.html' %}

{% block title %}About Us | {% endblock title %}

{% block body %}
    <div class="container">       
        <h2>About Us</h2>
        <p style="font-size: 22px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.</p>
        <p style="font-size: 22px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.</p>
        <p style="font-size: 22px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.</p>
        <p style="font-size: 22px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eum incidunt quia, vitae saepe, quos facilis dicta, officiis voluptate voluptatum velit unde eligendi expedita cumque architecto? Animi, quibusdam hic? Consequuntur.</p>
    </div>
{% endblock body %}
    